{
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-reflective-import", {
          "testFolder": "__tests__",
          "srcFolder": "src"
        }],
        ["babel-plugin-relative-import", {
          "rootPathSuffix": "src"
        }],
        "transform-es2015-modules-commonjs",
        [
          "module-resolver", {
            "root": ["./src"],
            "alias": {
              "services": "./src/microservices"
            },
            "extensions": [".js", ".jsx"]
          }
        ]
      ],
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react",
        "flow"
      ]
    },
    "dev": {
      "plugins": [
        "react-hot-loader/babel",
        ["react-element-info", {"prefix": "e2e"}],
        [
          "module-resolver", {
            "root": ["./src"],
            "alias": {
              "services": "./src/microservices",
              "utils": "./src/utils"
            },
            "extensions": [".js", ".jsx"]
          }
        ]
      ],
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react",
        "flow"
      ],
      "retainLines": true
    },
    "production":{
      "plugins": [
        "babel-plugin-transform-inline-environment-variables",
        "transform-react-jsx",
        ["react-element-info", {"prefix": "e2e"}],
        [
          "module-resolver", {
            "root": ["./src"],
            "alias": {
              "services": "./src/microservices"
            },
            "extensions": [".js", ".jsx"]
          }
        ]
      ],
      "presets": [
        ["es2015", {"modules": false}],
        "stage-2",
        "react"
      ]
    }
}
}
